@import "./apps/insights-client/src/assets/varaibles";

.dashboard {
  height: 90%;
  display: grid;
  grid-template-areas:
    "menu-item graph graph graph"
    "menu-item graph graph graph"
    "menu-item graph graph graph";

  margin: 0 map-get($padding, 'medium');
  gap: map-get($gap, 'medium');
}

:host {
  flex-grow: 1;
}
