@import "./apps/insights-client/src/assets/varaibles";

.dashboard {
  height: 90%;
  display: grid;
  grid-template-areas:
    "menu-item graph graph graph"
    "menu-item graph graph graph"
    "menu-item graph graph graph";

  margin: 0 map-get($padding, 'medium');
  gap: map-get($gap, 'medium');
}

@media (max-width: map-get($screen-size, 'medium')) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }
}

:host {
  flex-grow: 1;
}
