.dashboard {
  height: 90%;
  display: grid;
  grid-template-areas:
    "menu-item graph graph graph"
    "menu-item graph graph graph"
    "menu-item graph graph graph";

  padding: 2rem;
  gap: 2rem;

  &__menu {
    grid-area: menu-item;
    min-width: 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__graph {
    grid-area: graph;
  }
}

:host {
  flex-grow: 1;
}
