@import './apps/insights-client/src/assets/varaibles';

.create-metric-value {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: map-get($gap, 'small');
}

@media (max-width: map-get($screen-size, 'small')) {
  .create-metric-value {
    grid-template-columns: 1fr;
  }
}
