
<div class="metric-page">
  <insights-dropdown-selector *ngIf="metrics$ | async as elements"
                              class="metric-page__selector"
                              [label]="'Metric selector'"
                              [options]="elements"
                              (optionSelected)="optionSelected($event)">
  </insights-dropdown-selector>

  <insights-create-metric-form class="metric-page__create" />

  <insights-create-metric-value-form class="metric-page__metric-value" />
</div>

