@import "./apps/insights-client/src/assets/varaibles";

:host {
  flex-grow: 1;
}

.metric-page {
  margin: 2rem $container-side-margin;

  display: grid;
  gap: 2rem;

  grid-template-areas:
    "selector create-button ."
    "metric-value metric-value metric-value";

  grid-template-columns: repeat(3, 1fr);
}

.metric-page__create {
  grid-area: create-button;
}

.metric-page__selector {
  grid-area: selector;
}

.metric-page__metric-value {
  grid-area: metric-value;
}
