/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Unica+One&display=swap');
@import './assets/varaibles.scss';

html {
  font-family: $font-family;
  color: map-get($default-color, 'base');
}


html {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  background: url("/assets/images/background.jpg") no-repeat center center $background-color;
  background-size: cover;
}

*::-webkit-scrollbar {
  width: 0.7em;
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparentize($background-color, 0.2);
  height: 20px;
}
