@import "./apps/insights-client/src/assets/varaibles";

:host {
  flex-grow: 1;
}

.metric-page {
  margin: map-get($margin, 'medium');

  display: grid;
  gap: map-get($padding, 'medium');

  grid-template-areas:
    "selector create-button ."
    "metric-value metric-value metric-value";

  grid-template-columns: repeat(3, 1fr);
}


@media (max-width: map-get($screen-size, 'small')) {
  .metric-page {
    grid-template-columns: 1fr;

    grid-template-areas:
    "create-button"
    "selector"
    "metric-value";
  }
}


.metric-page__create {
  grid-area: create-button;
}

.metric-page__selector {
  grid-area: selector;
}

.metric-page__metric-value {
  grid-area: metric-value;
}
