@import "./apps/insights-client/src/assets/varaibles";

.metric-selector {
  padding: map-get($padding, 'small');
  border-radius: map-get($border-radius, 'base');
  background: map-get($box-background, 'base');
  box-shadow: $box-shadow;
  border: none;

  max-height: 15rem;
  overflow: auto;

  &__title {
    font-size: 1.2rem;
    margin-bottom: map-get($margin, 'small');
  }
}


