@import "./apps/insights-client/src/assets/varaibles";

:host {
  margin: map-get($margin, 'small');
}

#multiline-graph {
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  height: 100%;
}
