@import "./apps/insights-client/src/assets/varaibles";

.insights-button {
  cursor: pointer;

  &:hover {
    background: mix(
        map-get($box-background, 'base'),
        map-get($theme-color, 'base')
    );
  }

  &--active {
    background:   mix(
        map-get($box-background, 'base'),
        map-get($theme-color, 'base'),
        30
    );
  }

  &--disabled {
    color: map-get($default-color, 'dark');
    background: map-get($box-background, 'dark');
    border: map-get($border-size, 'base') map-get($border-color, "disabled") solid;
    cursor: default;
  }

  transition: background-color 1s;

  outline: none;

  border: map-get($border-size, 'base') map-get($border-color, "base") solid;

  display: inline-block;
  padding: map-get($padding, 'xsmall');
  text-decoration: none;
  font-weight: map-get($font-weight, 'bold');
  color: map-get($theme-color, 'lighter');
  border-radius: map-get($border-radius, 'base');
  background: map-get($box-background, 'base');
}

