@import "./apps/insights-client/src/assets/varaibles";

.insights-button {
  cursor: pointer;

  &:hover {
    background: mix($box-background, $theme-color);
  }

  &--active {
    background: mix($box-background, $theme-color, 30);
  }

  &--disabled {
    color: darken($default-color, 30);
    background: darken($box-background, 30);
    border: 2px  darken($border-color, 30) solid;
    cursor: default;
  }

  transition: background-color 1s;

  outline: none;

  border: 2px $border-color solid;

  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  color: lighten($theme-color, 50);
  border-radius: 0.5rem;
  background: $box-background;
}

