@import "./apps/insights-client/src/assets/varaibles";

.dropdown {
  display: grid;

  grid-template-areas:
    "input arrow"
    "options options";

  grid-auto-columns: 1fr 0;

  &__arrow {
    grid-area: arrow;
    align-self: center;

    &::after {
      top: 0.1rem;
      right: 1.4rem;
      content:"▼";
      transition: all 0.2s ease-in;
      position: relative;
      display: inline-block;
      color: map-get($theme-color, 'base');
      transform: rotate(-90deg);
    }

    &--disabled::after {
      color: map-get($theme-color, 'darker');
    }
  }

  &__options {
    grid-area: options;
    position: relative;
    top: map-get($padding, 'medium')*-1;

    transition: all 0.2s ease-in;
    transform: scaleY(0);
    opacity: 0;
  }
}

.dropdown--open > {
  & .dropdown__arrow::after {
    color: map-get($theme-color, 'light');
    transform: rotate(0deg);
  }

  & .dropdown__options {
    transform: scaleY(1);
    opacity: 1;
  }
}

.options {
  top: 0.2rem;
  width: 100%;
  border-radius: map-get($border-radius, 'small');
  position: absolute;
  z-index: 1;
  background-color: map-get($box-background, 'base');
  box-shadow: inset 0 0 1rem $background-color, map-get($theme-color, 'light') 0 0 0 0.2rem;
}

.option {
  padding: 0.2rem 0.5rem;
  border-bottom: map-get($border-size, 'small') transparentize(map-get($theme-color, 'light'), 0.7) solid;

  &:hover {
    background-color: map-get($box-background, 'hover');
  }
}
