@import "./apps/insights-client/src/assets/varaibles";

:host {
  grid-area: graph;
  flex-grow: 1;
}

.chart-box {
  height: 100%;
  border-radius: map-get($border-radius, 'large');
  background: map-get($box-background, 'base');
  box-shadow: $box-shadow;
}

