@import "./apps/insights-client/src/assets/varaibles";

:host {
  position: absolute;
  bottom: map-get($margin, 'small');
  right: map-get($margin, 'medium');
}

.last-refresh {
  color: map-get($default-color, 'dark');

  text-align: end;
  margin: map-get($margin, 'medium');
  font-size: 1.2rem;
}
