@import "selector-varaibles";

.option {
  &__check + label span {
    display: inline-block;
    width: 1.5rem;
    height: 1.2rem;
    margin: 0 0.5rem -0.2rem 0;

    &:before,
    &:after {
      transition: all .3s ease-in-out;
      content: "";
      position: absolute;
      z-index: 1;
      width: $selection-size;
      height: $selection-size;
      background: transparent;
      border: 2px solid $selection-color;
    }
    &:after {
      width: $selection-size+0.1;
      height: $selection-size+0.1;
      z-index: 0;
      border: none;
    }
  }

  &__check {
    display: none;
  };
}
