@import "selector-varaibles";

$check-height: 1.2rem;

.option {
  &__check + label span {
    display: inline-block;
    width: 1.5rem;
    height: $check-height;
    margin: 0 0.5rem -0.2rem 0;

    &:before,
    &:after {
      transition: all .3s ease-in-out;
      content: "";
      position: relative;
      display: block;
      z-index: 1;
      width: $selection-size;
      height: $selection-size;
      background: transparent;
      border: map-get($border-size, 'medium') solid $selection-color;
    }
    &:after {
      bottom: $check-height;
      z-index: 0;
    }
  }

  &__check {
    display: none;
  };
}
